<input{{ {
    'type': 'password',
    'name': name or field.name,
    'value': field.widget.redisplay and cstruct or '',
    'id': oid or field.oid,
    'class': css_class or field.css_class or "form-control",
    'style': style or field.style
}|htmlattr }}/>